.top-section {
  margin-top: -50px;
  background-color: $purple;
  &__logo {
    @include breakpoint($medium) {
      padding: 70px 250px;
    };
    @include breakpoint($small-only) {
      padding: 50px 0;
    };
    @include breakpoint($large) {
      padding: 120px;
    };
    .lg-img {
      @include breakpoint($small-only) {
        display: none;
      };
      @include breakpoint($medium) {
        display: none;
      };
      @include breakpoint($large) {
        display: block;
      };
    }
    .sm-img {
      @include breakpoint($large) {
        display: none;
      };
    }
  }

  &__text {
    font-family: serif;
    font-size: 1.2rem;
    color: $yellow;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: left;
    span {
      font-size: 1.5rem;
      @include breakpoint($small-only) {
        font-size: 1.4rem;
      };
    }
    @include breakpoint($small-only) {
      font-size: 1.1rem;
    };
    @include breakpoint($medium) {
      padding-left: 50px;
      padding-right: 50px;
    };
    @include breakpoint($large) {
      padding-left: 0;
      padding-right: 0;
    };
  }
}

.bg-panel {
  background-position: center;
  background-size: cover;

  &__content {
    color: white;
    background-color: rgba(darken($purple, 3), .75);

    @include breakpoint($medium) { padding: 50px; }
    @include breakpoint($small-only) { padding: 30px; }
    @include breakpoint($large) { padding: 70px; }

    ul {
      li {
        padding-bottom: 20px;
      }
    }
  }
}
