.top-section {
  margin-top: -50px;
  background-color: $purple;
  position: relative;
  @include breakpoint($small-only) {
    background-image: url('/images/blocks-4.svg');
    background-size: 160%;
  };

  .gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), $purple);
    z-index: 1;
  }

  // http://css3.bradshawenterprises.com/cfimg/

  @keyframes cf4FadeInOut {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }

  #cf4a {
    @include breakpoint($small-only) {
      display: none;
    };
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  #cf4a img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation-name: cf4FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 8s;

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }

  #cf4a img:nth-of-type(1) {
    animation-delay: 6s;
  }
  #cf4a img:nth-of-type(2) {
    animation-delay: 4s;
  }
  #cf4a img:nth-of-type(3) {
    animation-delay: 2s;
  }
  #cf4a img:nth-of-type(4) {
    animation-delay: 0;
  }


  // http://jsfiddle.net/5M2PD/4/
  .fadein {
    @include breakpoint($small-only) {
      display: none;
    };
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }

  .fadein img {
      position: absolute;
      top:0;
      left: 0;
      bottom: 0;
      right: 0;
      -webkit-animation-name: fade;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-duration: 6s;
      animation-name: fade;
      animation-iteration-count: infinite;
      animation-duration: 6s;
  }

  @-webkit-keyframes fade {
      0% {opacity: 0;}
      20% {opacity: 1;}
      33% {opacity: 1;}
      53% {opacity: 0;}
      100% {opacity: 0;}
  }
  @keyframes fade {
      0% {opacity: 0;}
      20% {opacity: 1;}
      33% {opacity: 1;}
      53% {opacity: 0;}
      100% {opacity: 0;}
  }

  #f1 {
  }

  #f2 {
      -webkit-animation-delay: -4s;
  }
  #f3 {
      -webkit-animation-delay: -3s;
  }
  #f4 {
      -webkit-animation-delay: -3s;
      display: none;
  }



  // using https://codepen.io/leemark/pen/DvliI
  ul {
    @include breakpoint($small-only) {
      display: none;
    };
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
  }
  li {
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    right:0;
  }
  img{
  }
  li:nth-child(4) {
    animation: xfade 16s 0s infinite;
  }
  li:nth-child(3) {
    animation: xfade 16s 4s infinite;
  }
  li:nth-child(2) {
    animation: xfade 16s 8s infinite;
  }
  li:nth-child(1) {
    animation: xfade 16s 12s infinite;
  }
  @keyframes xfade{
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
  }


  &__logo {
    position: relative;
    z-index: 2;

    @include breakpoint($medium) {
      padding: 70px 250px;
      padding-top: 150px;
    };
    @include breakpoint($small-only) {
      padding: 50px 10px;
      padding-top: 120px;
    };
    @include breakpoint($large) {
      padding: 120px;
      padding-top: 170px;
    };
    .lg-img {
      @include breakpoint($small-only) {
        display: none;
      };
      @include breakpoint($medium) {
        display: none;
      };
      @include breakpoint($large) {
        display: block;
      };
    }
    .sm-img {
      @include breakpoint($large) {
        display: none;
      };
    }
  }

  &__text {
    position: relative;
    z-index: 2;
    font-family: serif;
    font-size: 1.2rem;
    color: $yellow;
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: left;
    span {
      font-size: 1.5rem;
      @include breakpoint($small-only) {
        font-size: 1.4rem;
      };
    }
    @include breakpoint($small-only) {
      font-size: 1.1rem;
    };
    @include breakpoint($medium) {
      padding-left: 50px;
      padding-right: 50px;
    };
    @include breakpoint($large) {
      padding-left: 0;
      padding-right: 0;
    };
  }
}

.bg-panel {
  background-position: center;
  background-size: cover;

  &__content {
    color: white;
    background-color: rgba(darken($purple, 3), .75);

    @include breakpoint($medium) { padding: 50px; }
    @include breakpoint($small-only) { padding: 30px; }
    @include breakpoint($large) { padding: 70px; }

    ul {
      li {
        padding-bottom: 20px;
      }
    }
  }
}

.divider {
  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 200;
    @include breakpoint($small-only) {
      font-size: 1.8rem;
    }
  }
  &--purple {
    color: $yellow;
    background-color: $purple;
  }
}

.page-section {
  color: lighten($purple, 10);
  font-weight: 200;
  a {
    border-bottom: 1px solid darken($light-yellow, 25%);
    &:hover {
      text-decoration: none;
      background-color: darken($light-yellow, 15%);
      border-bottom: 1px solid darken($light-yellow, 40%);
    }
  }
  .content {
    h3  {
      font-size: 1.5rem;
      font-weight: 200;
      @include breakpoint($small-only) {
        font-size: 1.8rem;
      }
    }
    padding-left: 60px;
    padding-right: 60px;
    @include breakpoint($small-only) {
      padding-left: 10px;
      padding-right: 10px;
    }
    ul {
      padding-left: 18px;
      li {
        padding-bottom: 10px;
      }
    }
  }

  &--yellow {
    background-color: $light-yellow;
  }

  &--blue {
    background-color: $light-purple;
    .contact {
      text-align: center;
      h3 {
        text-transform: none;
        font-weight: 200;
        margin: 0;
        font-size: 1.5rem;
      }
      p {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 5px;
      }

      .button {
        border-bottom: none;
        background-color: transparent;
        font-weight: 500;
        border: 2px solid;
        margin-bottom: 5px;
        padding: 5px 10px;
        &:hover {
          background-color: $purple;
          color: white;
          border-color: $purple;
          // transition: all .6s ease;
        }
      }
    }
  }
}
